In [2]:
import json
import pandas as pd
import sqlite3
import geopandas as gpd
import fiona
# fiona.supported_drivers
# # Load existing data
# with open('Colorado.geojson') as f:
#   data = json.load(f)

# # Add data 
# feature = {}
# feature['type'] = 'Hazards'
# feature['value'] = {'type': 'Point',
#                        'coordinates': [10, 10],
#                        }
# feature['properties'] =  {'prop0': 'value1'}
# data['features'].append(feature)

# # Write JSON file with new data
# with open('test.json', 'w') as f:
#   f.write(json.dumps(data))

In [10]:
df1 = pd.read_csv('Data.csv')
df1['COUNTY'] = df1['Unnamed: 1'].apply(lambda x: x.split(' ')[0])
# df1["HAIL_EALT"] = df1["HAIL_EALT"].astype('int')
# df1["TRND_EALT"] = df1["TRND_EALT"].astype('int')
df1.head()
# type(df1["HAIL_EALT"][0])

,Unnamed: 0,Unnamed: 1,Total Pop,White Pop,Non_white_Pop,Non_white_Pctg,Percentage_of_pop_aged_over65,Per_Capita_Personal_Income,COUNTY
0,1,Adams County,"522,513","251,265","271,248",0.519122,0.113467,53183,Adams
1,3,Alamosa County,"16,516","7,702","8,814",0.533640,0.152095,44507,Alamosa
2,5,Arapahoe County,"655,583","383,454","272,129",0.415094,0.144194,74267,Arapahoe
3,7,Archuleta County,"13,806","10,456","3,350",0.242623,0.283914,52312,Archuleta
4,9,Baca County,"3,489","2,903",586,0.167907,0.257667,52905,Baca

In [9]:
df2 = gpd.read_file('NRI_Counties_Colo.geojson')
df2.head()
# type(df2["CENT_LONG"][0])

,OBJECTID,NRI_ID,STATE,STATEABBRV,STATEFIPS,COUNTY,COUNTYTYPE,COUNTYFIPS,STCOFIPS,POPULATION,...,WNTW_ALRP,WNTW_ALRA,WNTW_ALR_NPCTL,WNTW_RISKV,WNTW_RISKS,WNTW_RISKR,NRI_VER,Shape_Length,Shape_Area,geometry
0,1,C08001,Colorado,CO,08,Adams,County,001,08001,519291,...,3.111671e-09,1.522227e-07,37.913959,203898.726556,79.669106,Relatively Moderate,March 2023,511732.485485,5.211004e+09,"POLYGON ((-103.70572 40.00138, -103.70828 40.0..."
1,2,C08003,Colorado,CO,08,Alamosa,County,003,08003,16357,...,1.338466e-08,8.145280e-08,10.615908,6220.575347,9.385937,Very Low,March 2023,224661.488579,2.987316e+09,"POLYGON ((-105.45728 37.75148, -105.45728 37.7..."
2,3,C08005,Colorado,CO,08,Arapahoe,County,005,08005,654201,...,1.914232e-09,1.527347e-07,43.515939,246796.536990,82.914413,Relatively Moderate,March 2023,433543.501629,3.523516e+09,"MULTIPOLYGON (((-104.90404 39.62413, -104.9029..."
3,4,C08007,Colorado,CO,08,Archuleta,County,007,08007,13356,...,1.864592e-07,2.189817e-06,57.164964,38710.917556,39.452752,Relatively Low,March 2023,332832.803006,5.541782e+09,"POLYGON ((-107.12870 37.42295, -107.13344 37.4..."
4,5,C08009,Colorado,CO,08,Baca,County,009,08009,3490,...,1.063028e-06,3.192336e-07,91.922006,74041.200073,55.615654,Relatively Low,March 2023,413597.967677,1.049157e+10,"POLYGON ((-102.04160 37.64429, -102.05578 37.6..."

In [19]:
df3 = df1.merge(df2, on='COUNTY')
cols = list(df3.columns)
cols

df4 = df3[["COUNTY", "Non_white_Pctg", "Percentage_of_pop_aged_over65", "Per_Capita_Personal_Income","geometry"]]
# newCols = ['FID','OBJECTID','COUNTY','FULL','LABEL','CNTY_FIPS','NUM_FIPS','CENT_LAT','CENT_LONG','US_FIPS','AVLN_EALT','CWAV_EALT','DRGT_EALT','HAIL_EALT','ISTM_EALT','LNDS_EALT','LTNG_EALT','RFLD_EALT','SWND_EALT','TRND_EALT','WFIR_EALT',
#  'WNTW_EALT','geometry']
# df4 = df3[newCols].sort_values('FID').reset_index().drop(columns=["index"])
df4.head()
# type(df4["HAIL_EALT"][0])

,COUNTY,Non_white_Pctg,Percentage_of_pop_aged_over65,Per_Capita_Personal_Income,geometry
0,Adams,0.519122,0.113467,53183,"POLYGON ((-103.70572 40.00138, -103.70828 40.0..."
1,Alamosa,0.533640,0.152095,44507,"POLYGON ((-105.45728 37.75148, -105.45728 37.7..."
2,Arapahoe,0.415094,0.144194,74267,"MULTIPOLYGON (((-104.90404 39.62413, -104.9029..."
3,Archuleta,0.242623,0.283914,52312,"POLYGON ((-107.12870 37.42295, -107.13344 37.4..."
4,Baca,0.167907,0.257667,52905,"POLYGON ((-102.04160 37.64429, -102.05578 37.6..."

In [ ]:
df3.to_csv("allData.csv", index=False)

In [18]:
df2.to_file("allData.geojson", driver="GeoJSON")